runtime: nodejs22

service: mywiki

env_variables:
  BASIC_AUTH_USER: "${BASIC_AUTH_USER}"
  BASIC_AUTH_PASSWORD: "${BASIC_AUTH_PASSWORD}"

handlers:
  - url: /.*
    secure: always
    redirect_http_response_code: 301
    script: auto
